QWidget {

color: #101010;
border-color: #101010;
background-color: #101010;

}

#DockWidget QWidget {

color: white;
border-width: 0px;
padding: 0px 0px 0px 0px;
border-color: transparent ;
background-color: transparent ;

}

QGraphicsScene {

padding: 0 0 0 0;
border-width: 0px;

}

QGraphicsView {

padding: 0 0 0 0;
border-width: 0px;

}

QGraphicsObject {

padding: 0 0 0 0;
border-width: 0px;

}

QSplitter {

border-width: 0px;
padding: 0 0 0 0;

}

#Powerline{
	background-color: green;
}


#Statusbar #Bottom QLineEdit#Edit {

color: white;
border-width: 0px;
border-radius: 0px;
border-color: transparent;
background-color: transparent;

}

#Statusbar QLabel#Mode {
	color: white;
}

#Statusbar QLineEdit#Edit {
	color: green;
}

QListWidget#ExecMode_List {

border-width: 0px;
border-color: transparent;
background-color: transparent;

}

QListWidget#ExecMode_List::item {;

border-width: 0px;
border-radius: 0px;
background-color: gray;

}

QListWidget#ExecMode_List::item:selected {;

background-color: blue;

}

QListWidget#ExecMode_List QLabel#ListItemUp {

color: white;
border-width: 0px;
background-color: transparent;

}

QTreeView {

border-width: 0px;
color: transparent;
border-color: transparent ;
background-color: transparent ;
show-decoration-selected: 0;

}

QTreeView::item {;

color: white;
border-radius: 0px;
padding: 5px 5px 5px 5px;
border-color: transparent;
background-color: transparent;

}

QTreeView::item:selected {;

background-color: yellow;

}

QListWidget {

border-width: 0px;
color: transparent;
border-color: transparent ;
background-color: transparent ;
show-decoration-selected: 0;

}

QListWidget::item {;

color: white;
border-radius: 0px;
border-color: transparent;
background-color: transparent;

}

QListWidget::item:selected {;

background-color: green;

}

#Search QLabel {

color: black;

}

#ViewContainer QWidget {

border-width: 0px;
background-color: red;

}

#ViewContainer_focus QWidget {

border-width: 5px;
background-color: red;

}

#Display QWidget {

background-color: blue;

}

QWidget#Display {
	background-color: yellow ;
}

QStatusBar {
	background: transparent;
}

QStatusBar::item {
	border: None;
	padding: 0 0 0 0;
	border-width: 0px;
	background: red;
}

#Statusbar QWidget#Container {
	padding: 0 0 0 0;
	border-width: 0px;
}
