QWidget {
	color: #101010;
	border-color: #101010;
	background-color: #101010;
}

QGraphicsScene {
	border-width: 0px;
	padding: 0 0 0 0;
}

QGraphicsView {
	padding: 0 0 0 0;
	border-width: 0px;
}

QGraphicsObject {
	border-width: 0px;
	padding: 0 0 0 0;
}

QSplitter {
	border-width: 0px;
	padding: 0 0 0 0;
}


#Statusbar #Bottom QLineEdit#Edit{
	color: white;
	border-width: 0px;
	border-radius: 0px;
	border-color: transparent;
	background-color: transparent;
}

#Statusbar #Bottom QLabel#Mode{
	color: white;
}

QListWidget#ExecMode_List {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

QListWidget#ExecMode_List::item {
	border-width: 0px;
	border-radius: 0px;
	background-color: gray;
}

QListWidget#ExecMode_List::item:selected {
	background-color: blue;
}

QListWidget#ExecMode_List QLabel#ListItemUp{
	color: white;
	border-width: 0px;
	background-color: transparent;
}

QTreeView{
	border-width: 0px;
	color: transparent;
	border-color: transparent; 
	background-color: transparent; 
	show-decoration-selected: 0;
	}

QTreeView::item{
	color: white;
	border-radius: 0px;
	padding: 5px 5px 5px 5px;
	border-color: transparent;
	background-color: transparent;
	}

QTreeView::item:selected{
	background-color: yellow;
	}

QListWidget{
	border-width: 0px;
	color: transparent;
	border-color: transparent; 
	background-color: transparent; 
	show-decoration-selected: 0;
	}

QListWidget::item{
	color: white;
	border-radius: 0px;
	border-color: transparent;
	background-color: transparent;
	}

QListWidget::item:selected{
	background-color: green;
	}

#Search QLabel{
	color: black;
}
